<%= @steps %>
<div class="tab">
  <a href="#makes">Makes/</a><br>
  <a href="#breaks">Breaks</a>
</div>

<div class="habit">
  <div class="habitheader">
    <a id="makes">Makes</a>
  </div>
    <% @user.goodhabits.each do |habit| %>
    <div class="test">
    <%= image_tag "marshmallowone.svg", :class => "marshmallowone" %><br>

    <div class="goal">
      Goal: <%= habit.goodhabit %><br>
      Category: <%= habit.category %><br>
      Description: <%= habit.description %><br>
      How Often: <%= habit.timesperweek %> times per week <br>
      <%= link_to "Edit habit", edit_goodhabit_path(habit.id), class: "linkbutt" %><br>
    </div>
  </div>

    <div class="heading">Check-in For Today</div>

    <div class="test">
      <div class="checkinform">
        <%= form_for @goalcheckin, url: "/users/#{@user.id}/goodhabit/#{habit.id}", remote: true do |f| %>
          <%= f.label :status %><br>
          <%= f.text_area :status, cols: "50", rows: "8" %><br>
          <%= f.submit "Check-In" %><br>
        <% end %>
      </div>
      <% @checkray = Array.new %>
      <!-- <span>Check-In Log</span><br> -->
      <div class="status" id="status<%=habit.id%>">
        <% habit.goalcheckins.last(5).reverse.each do |checkin| %>
          <%= checkin.checkintime.strftime"%B %d, %Y %I:%M %p" %><br>
          <%= checkin.status %><br>
        <% end %>
      </div>
    </div>

      <% habit.goalcheckins.each do |checkin| %>
        <% if checkin.checkintime - 4.hours >= @today.monday %>
          <% @checkray.push(checkin.checkintime) %>
          <% else %>
          <% end %>
      <% end %>
      <div class="centerone">
        You are at
        <p class='percent' id="percent<%=habit.id%>"> <%=(@checkray.length/habit.timesperweek.to_f*100).round%>% </p> this week!
        <div class="progress-bar-wrapper">
          <div class="progress-bar" id="progress<%=habit.id%>" style="width:<%= @checkray.length/habit.timesperweek.to_f*100%>%">
          </div>
        </div>
        <%= link_to "calendar", "/users/#{@user.id}/goodhabit/#{habit.id}/calendar", class: "linkbutt" %>
      </div>
      <hr>
      <% end %>
</div>


<div class="habit">
  <div class="habitheader">
    <a id="breaks">Breaks</a>
  </div>
  <% @user.badhabits.each do |habit| %>
  <div class="test">
    <%= image_tag "marshmallowone.svg", :class => "marshmallowone" %><br>

    <div class="goal">
      Bad habit: <%= habit.badhabit %><br>
      Description: <%= habit.description %><br>
      Length: <%= habit.totalnumofdays %> days <br>
      <%= link_to "Edit habit", edit_badhabit_path(habit.id), class: "linkbutt" %><br>
    </div>
  </div>

  <div class="heading">Check-in For Today</div>

  <div class="test">
    <div class="checkinform">
      <%= form_for @badhabitcheckin, url: "/users/#{@user.id}/badhabit/#{habit.id}", remote: true do |f| %>
        <%= f.label :status %><br>
        <%= f.text_area :status, cols: "50", rows: "8" %><br>
        <%= f.submit "Check-In" %><br>
      <% end %>
    </div>
    <% @badcheckray = Array.new %>
    <!-- <h3>Check-In Log</h3> -->
    <div class="status" id="badstatus<%=habit.id%>">
      <% habit.badhabitcheckins.last(5).reverse.each do |checkin| %>
        <%= checkin.checkintime.strftime"%B %d, %Y %I:%M %p" %><br>
        <%= checkin.status %><br>
      <% end %>
    </div>
  </div>

  <% habit.badhabitcheckins.each do |checkin| %>
    <% @badcheckray.push(checkin.checkintime) %>
  <% end %>
  <div class="centerone">
    You are at
    <p class='percent' id="badpercent<%=habit.id%>"> <%=(@badcheckray.length/habit.totalnumofdays.to_f*100).round%>% </p>!
    <div class="progress-bar-wrapper">
      <div class="progress-bar" id="badprogress<%=habit.id%>" style="width:<%= @badcheckray.length/habit.totalnumofdays.to_f*100%>%">
      </div>
    </div>
  </div>
  <hr>
  <% end %>
</div>
