<div class="modaloverlay">

</div>
<div class="tab">
  <a href="#makes">Makes/</a><br>
  <a href="#breaks">Breaks</a>
</div>

<div id="about">
  About the <br>
  Marshmallow
</div>
<div class="">
  <div id="abouttext">
    <div id="close">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="text">
      <h3>Why a marshmallow?</h3>
      In the 1960's a psychologist named Walter Mischel conducted a study on delayed gratification and willpower. In the study children were given the choice of one marshmallow now or two marshmallows, but they had to wait 15 minutes. The study showed that the children who were able to wait had higher SAT scores and lower BMIs then those who couldn't wait. But the study also showed that willpower could be improved! So that is why you have a marshmallow to help you along your journey to make or break your habits. If go longer than a week without checking in your poor marshmallow will start to roast! As you check-in your marshmallow will be there to cheer you on!
    </div>
  </div>
</div>

<% unless @user.access_token == nil %>
<div class="steps">
  You've taken <br> <%= @steps %> <br> steps today!
</div>
<% end %>


<div class="habit">
  <div class="habitheader">
    <a id="makes">Makes</a>
  </div>
    <% @user.goodhabits.each do |habit| %>
    <div class="test">
      <% @checkrayone = Array.new %>
      <% habit.goalcheckins.each do |checkin| %>
        <% if checkin.checkintime - 4.hours >= @today.monday %>
          <% @checkrayone.push(checkin.checkintime) %>
          <% else %>
          <% end %>
      <% end %>
      <% if habit.goalcheckins == [] %>
      <div class="marshmallowneutral" id="marshmallow<%=habit.id%>">

      </div>
      <% elsif habit.goalcheckins.last.checkintime < @today.monday %>
        <div class="marshmallowfire" id="marshmallow<%=habit.id%>">

        </div>
      <% elsif @checkrayone.length == habit.timesperweek %>
        <div class="marshmallowhappy">

        </div>

      <% else %>
        <div class="marshmallowneutral" id="marshmallow<%=habit.id%>">

        </div>
      <% end %>


      <div class="goal">
        Goal: <%= habit.goodhabit %><br>
        Category: <%= habit.category %><br>
        Description: <%= habit.description %><br>
        How Often: <%= habit.timesperweek %> times per week <br>
        <%= link_to "Edit habit", edit_goodhabit_path(habit.id), class: "linkbutt" %><br>
      </div>
    </div>

    <div class="heading">Check-in For Today</div>

    <div class="test">
      <div class="checkinform">
        <%= form_for @goalcheckin, url: "/users/#{@user.id}/goodhabit/#{habit.id}", remote: true do |f| %>
          <%= f.label :status %><br>
          <%= f.text_area :status, cols: "50", rows: "8" %><br>
          <%= f.submit "Check-In" %><br>
        <% end %>
      </div>
      <% @checkray = Array.new %>
      <div class="status" id="status<%=habit.id%>">

        <% habit.goalcheckins.last(5).reverse.each do |checkin| %>
          <%= checkin.checkintime.strftime"%B %d, %Y %I:%M %p" %><br>
          <%= checkin.status %><br>
        <% end %>
      </div>
    </div>

      <% habit.goalcheckins.each do |checkin| %>
        <% if checkin.checkintime - 4.hours >= @today.monday %>
          <% @checkray.push(checkin.checkintime) %>
          <% else %>
          <% end %>
      <% end %>
      <div class="centerone">
        You are at
        <p class='percent' id="percent<%=habit.id%>"> <%=(@checkray.length/habit.timesperweek.to_f*100).round%>% </p> this week!
        <div class="progress-bar-wrapper">
          <div class="progress-bar" id="progress<%=habit.id%>" style="width:<%= @checkray.length/habit.timesperweek.to_f*100%>%">
          </div>
        </div>
        <%= link_to "calendar", "/users/#{@user.id}/goodhabit/#{habit.id}/calendar", class: "linkbutt" %>
      </div>
      <hr>
      <% end %>
</div>


<div class="habit">
  <div class="habitheader">
    <a id="breaks">Breaks</a>
  </div>
  <% @user.badhabits.each do |habit| %>
  <div class="test">
    <% @badcheckrayone = Array.new %>
    <% habit.badhabitcheckins.each do |checkin| %>
        <% @badcheckrayone.push(checkin.checkintime)%>
    <% end %>

    <% if habit.badhabitcheckins == [] %>
    <div class="marshmallowneutral" id="badmarshmallow<%=habit.id%>">

    </div>
    <% elsif habit.badhabitcheckins.last.checkintime < @today.monday %>
      <div class="marshmallowfire" id="badmarshmallow<%=habit.id%>">

      </div>
    <% elsif @badcheckrayone.length == habit.totalnumofdays %>
      <div class="marshmallowhappy">

      </div>

    <% else %>
      <div class="marshmallowneutral" id="badmarshmallow<%=habit.id%>">
      </div>

    <% end %>
    <div class="goal">
      Bad habit: <%= habit.badhabit %><br>
      Description: <%= habit.description %><br>
      Length: <%= habit.totalnumofdays %> days <br>
      <%= link_to "Edit habit", edit_badhabit_path(habit.id), class: "linkbutt" %><br>
    </div>
  </div>

  <div class="heading">Check-in For Today</div>

  <div class="test">
    <div class="checkinform">
      <%= form_for @badhabitcheckin, url: "/users/#{@user.id}/badhabit/#{habit.id}", remote: true do |f| %>
        <%= f.label :status %><br>
        <%= f.text_area :status, cols: "50", rows: "8" %><br>
        <%= f.submit "Check-In" %><br>
      <% end %>
    </div>
    <% @badcheckray = Array.new %>

    <div class="status" id="badstatus<%=habit.id%>">

      <% habit.badhabitcheckins.last(5).reverse.each do |checkin| %>
        <%= checkin.checkintime.strftime"%B %d, %Y %I:%M %p" %><br>
        <%= checkin.status %><br>
      <% end %>
    </div>
  </div>

  <% habit.badhabitcheckins.each do |checkin| %>
    <% @badcheckray.push(checkin.checkintime) %>
  <% end %>
  <div class="centerone">
    You are at
    <p class='percent' id="badpercent<%=habit.id%>"> <%=(@badcheckray.length/habit.totalnumofdays.to_f*100).round%>% </p>!
    <div class="progress-bar-wrapper">
      <div class="progress-bar" id="badprogress<%=habit.id%>" style="width:<%= @badcheckray.length/habit.totalnumofdays.to_f*100%>%">
      </div>
    </div>
  </div>
  <hr>
  <% end %>
</div>
