<div class="center">
  <%= form_for @goodhabit do |f| %>
    <%= f.text_field :goodhabit %><br>
    <%= f.label :goodhabit, "Goal" %><br>
    <%= f.select :category, ["diet", "fitness", "creativity", "mental", "lifestyle", "other"] %><br>
    <%= f.label :category %><br>
    <%= f.text_field :description %><br>
    <%= f.label :description %><br>
    <%= f.number_field :timesperweek %><br>
    <%= f.label :timesperweek, "Times Per Week" %><br>
    <%= f.check_box :reminders %>
    <%= f.label :reminders %><br>
    *Reminders will be emailed every Monday at 12pm <br>
    <%= f.submit "Enter" %>
  <% end %>
</div>
