<!DOCTYPE html>
<html>
  <head>
    <title>make it or break it</title>
    <%= favicon_link_tag 'icecream.png' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="scrollmagic" href="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <!-- <script src="js/scrollmagic/minified/ScrollMagic.min.js"></script> -->
    <%=javascript_include_tag "ScrollMagic.js"%>
    <script src="https://use.fontawesome.com/4d46b4fd5c.js"></script>


  </head>

  <header>
    <nav>
      <div class="bigburger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <%= link_to "make it / break it", root_path, :class => 'navlink', :id => 'logo' %> <span class="divider"> | </span>
      <% if user_signed_in? %>
      <%= link_to "Edit Account", edit_user_registration_path, :class => 'navlink' %> <span class="divider"> | </span>
      <%= link_to "Profile", "/users/#{(current_user.id)}", :class => 'navlink' %> <span class="divider"> | </span>
      <div class="dropdown">
       <div class="dropbtn">new habit</div>
       <div class="dropdown-content">
         <%= link_to "Make", new_goodhabit_path, class: "navlink" %><br>
         <%= link_to "Break", new_badhabit_path, class: "navlink" %><br>
       </div>
     </div>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navlink', :id => 'signout' %>

    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'navlink' %> <span class="divider"> | </span>
      <%= link_to "Sign In", new_user_session_path, :class => 'navlink' %>
    <% end %>
    </nav>
    <div class="center">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
  </footer>

</html>
